:root {
    --primary-blue: #007bff;
    --dark-blue: #0056b3;
    --light-bg: #f8f9fa;
    --text-color: #333;
}

/* Reset básico para garantir consistência entre navegadores */
body {
    background-color: var(--light-bg);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;

    
}h1 {
    color: blue;
    font-size: 50px
}